PORT=3000
NODE_ENV=production
JWT_SECRET=VOTRE_SECRET_ICI_MINIMUM_32_CARACTERES
ODOO_URL=https://votre-instance.odoo.com
ODOO_DB=votre_base
ODOO_USERNAME=votre@email.com
ODOO_API_KEY=VOTRE_CLE_API_ODOO
DATABASE_URL=postgresql://user:pass@host:port/dbname
